---
layout: default
---

<noscript>
	<style>

		article .footnotes {
			display: block;
		}

	</style>
</noscript>

<article>

	<div class="center">
		<h1><a href="http://github.com/cslearningtx/" target = "_blank"><img src="http://i.imgur.com/aV59QS6.png (github icon with padding)" alt="alt text" /></a>     <a href="#share"><img src="http://i.imgur.com/GE4GmC3.png (share icon with padding)" alt="alt text" /></a> 
</h1>
		<time>{{ page.sub }}</time>
	</div>

		<!--<div class="divider"></div>-->

	<p>&nbsp;</p><p></p>
	{{ content }}
	<p>&nbsp;</p><p></p>
</article>
